.header-navigation {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 60em;
}

.navigation-items {
    /* padding: 0; */
    /* margin: 1e; */
    list-style: none;
}

.navigation-items li {
    display: inline-block;
    margin-top: 7px;
    margin-left: 1.8em;
}

.navigation-items li a {
    text-decoration: none;
}

.footer {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 1em;
}

.hero-content {
    text-align: center;
    font-weight: bolder;
}